<div id='intro'>
  <h1>Welcome to music-snippets!</h1>
  <h3>music-snippets is an app to quickly and easily save music notes or guitar tabs from your favorite songs.</h3>
  <%= link_to "Sign Up", signup_path %>, <%= link_to "Log In", signup_path %>, or just dive in and <%= link_to "explore", dashboard_path %>!
</div>
