/*= require_self */

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
@import 'typography';
@import 'users';
@import 'snippets';
@import 'dashboard';
@import 'utilities';

$neat-grid: (
  columns: 12,
  gutter: 10px,
);

body {
  font-family: $serif-type;
  font-size: .9em;
  background-color: $lightgreen-opacity;
  margin: 0;
  padding: 0;
  // @include grid-visual;
}

a {
   color: $midgrey;
 }

a:hover {
  color: $lightblue;
  transition: color .3s;
}

#nav {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
}

#current-user-options {
  color: white;
  text-align: center;
  padding: 10px 0;

  a {
    color: $lightgreen;
  }

  a:hover {
    color: $lightblue;
    transition: color .3s;
  }
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  @include grid-column(6);
  @include grid-shift(3);
  text-align: center;
  float: clear;
  margin: 20px 0;
  height: 40px;
}
