#intro {
  @include grid-column(6);
  @include grid-shift(3);
  margin: 40px 0;
  text-align: center;
  float: clear;
}

.intro-img-div {
  @include grid-column(12);
  @include grid-shift(3);
  float: clear;
}
