$black: #000000;
$darkpurple: rgb(83,32,160);
$lightgreen: rgb(134, 255, 212);
$lightgreen-opacity: rgba(134, 255, 212, .2);
$lightblue: rgb(100, 220, 255);
$lightblue-opacity: rgba(100, 220, 255, .2);
$midgrey: #666;
